
body {

        background-color: #242430;
        color: white;
    }


.done {
    text-decoration: line-through;
}

.container {
   
    display: flex;
    justify-content: center;
   
}

.list-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    background-color: #333333;
    width: 700px;
    height: 700px;
}

.list-title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #252526;
}

.list-content {
    display: flex;
    justify-content: center;
    padding: 20px;
}

h1 {
    text-align: center;
    font-family: 'Open Sans';
}

button {
    background-color: #252526;
    color:aliceblue;
}

@media only screen and (max-width: 600px){

    .list-container {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        background-color: #333333;
        width: 95%;
        height: 100vh;
    }


}



     
